<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <span [class]="compare(eachChar, enteredText[i])" *ngFor="let eachChar of randomText.split('') let i = index">
          {{eachChar}}
        </span>
      </p>
      <div class="field">
        <input class="input" (input)="onUserTyped($event.target.value)" />
      </div>
      <div *ngIf="randomText === enteredText" box has-text-centered>
        <h2>Sucess!</h2>
      </div>
    </div>
  </div>
</div>